<form [formGroup] = "loginFormGroup" (ngSubmit)="onSubmit()">
    <fieldset>
    <div class="form-group">
        <label class="form-control-label" for="userInput">Nom d'utilisateur</label>
        <input [ngClass]="{'form-control':true,'is-invalid':(user.invalid && (user.dirty || user.touched))}" id="userInput" type="text" formControlName="user" (keyup)="showStatus()"  required>
        <div *ngIf="user.invalid && (user.dirty || user.touched)" class="invalid-feedback">
            <div *ngIf="user.errors.required">Le login est obligatoire</div>
        </div> 
    </div>
    <div class="form-group has-danger">
        <label class="form-control-label" for="passwordInput">Mot de passe</label>
        <input [ngClass]="{'form-control':true,'is-invalid':(password.invalid && (password.dirty || password.touched))}" id="passwordInput" type="password" formControlName="password" required>
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
            <div  *ngIf="password.errors.required" >Le mot de passe est obligatoire</div>
        </div>
    </div>
</fieldset>
   <button type="submit" class="btn btn-success" [disabled]="!loginFormGroup.valid">Valider</button>
</form>
